<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      109學年度課程
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--清單-->
  <ion-list>
    <!--清單中的項目-->
    <ion-item *ngFor="let i of courses">
      <ion-label>
      <h3>{{ i.name }}</h3>
      <ion-text>
        {{ i.desc }}
      </ion-text>
    </ion-label>

    <!--slot=出現的位置  name=圖示名稱-->
    <ion-icon slot="start" [name]="i.icon"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>